
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>rptEngineerSchedule</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Css/Custom/rptMotor.css" rel="stylesheet" />
    <script src="~/Scripts/Js/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/Js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container" style="color:#000">
        <!-------------------Ttile------------------------>
        <!------------------------------------------------->

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10 center-block">
                <i><p style="text-align:center;font-weight:bold;margin-top:20px;font-size:26px;">Policy  Schedule - Contractor's All Risk Ins</p></i>
            </div>
            <div class="col-sm-1"></div>
        </div>

        <!--------------Details------------------>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <table width="100%" height="112" class="tbl">
                    <tr valign="top">
                        <td width="182" height="34" valign="middle"><p><strong>Policy Issuing Branch</strong></p></td>
                        <td width="274" valign="middle">: [Branch name]</td>
                        <td width="215" align="left" valign="middle"><p><strong>Broker / Agent </strong></p></td>
                        <td width="242" valign="middle">: [Broker/Agent]</td>
                    </tr>
                    <tr valign="top">
                        <td height="34" valign="middle"><p><strong>Proposal Number</strong></p></td>
                        <td valign="middle">: [Proposal Number]</td>
                        <td colspan="2" align="left" valign="middle">&nbsp;</td>
                    </tr>
                    <tr valign="top">
                        <td height="34" valign="middle"><p><strong>Policy Number </strong></p></td>
                        <td valign="middle">: [Policy Number]</td>
                        <td align="left" valign="middle"><p><strong>Customer code </strong></p></td>
                        <td valign="middle">: [Customer code]</td>
                    </tr>
                </table>

                <!---Second Table---->
                <table width="100%" height="328" class="tbl" style="margin-top:10px;">
                    <tr valign="top">
                        <td width="3%" align="center" valign="middle"><strong>1.</strong></td>
                        <td width="32%" height="34" valign="middle"><p><strong>Name of Insured</strong></p></td>
                        <td valign="middle">: [Name of Insured]</td>
                    </tr>
                    <tr valign="top">
                        <td align="center" valign="middle"><strong>2.</strong></td>
                        <td height="34" valign="middle"><p><strong>Business / Profession</strong></p></td>
                        <td valign="middle">: [Business]</td>
                    </tr>
                    <tr valign="top">
                        <td align="center" valign="middle"><strong>3.</strong></td>
                        <td height="34" valign="middle"><p><strong>Address</strong></p></td>
                        <td valign="middle">: [Address]</td>
                    </tr>
                    <tr valign="top">
                        <td align="center" valign="middle"><strong>4.</strong></td>
                        <td height="34" valign="middle">
                            <p>
                                <strong>
                                    Period of Insurance
                                </strong>
                            </p>
                        </td>
                        <td valign="middle">: [Period of Insurance]</td>
                    </tr>
                    <tr valign="top">
                        <td align="center" valign="middle"><strong>5.</strong></td>
                        <td height="34" valign="middle"><p><strong>Maintenance period</strong></p></td>
                        <td valign="middle">: [Maintenance period]</td>
                    </tr>
                    <tr valign="top">
                        <td align="center" valign="middle"><strong>6.</strong></td>
                        <td height="34" valign="middle"><p><strong>Gross Premium(GHC)</strong></p></td>
                        <td valign="middle">: [Gross]</td>
                    </tr>
                    <tr valign="top">
                        <td align="center" valign="middle"><strong>7.</strong></td>
                        <td height="34" valign="middle"><p><strong>Loading      (GHC)</strong></p></td>
                        <td valign="middle">: [Loading]</td>
                    </tr>
                    <tr valign="top">
                        <td align="center" valign="middle"><strong>8.</strong></td>
                        <td height="34" valign="middle"><p><strong>Discount     (GHC)</strong></p></td>
                        <td valign="middle">: [Discount]</td>
                    </tr>
                    <tr valign="top">
                        <td align="center" valign="middle"><strong>9.</strong></td>
                        <td height="15" valign="middle"><p><strong>Premium Due  (GHC)</strong></p></td>
                        <td valign="middle">: [Premium]</td>
                    </tr>
                </table>

                <table style="margin-top:10px;"><tr><td><strong>Property Insured</strong></td></tr></table>
                <!-------------THIRD----------------------------->

                <table width="100%" height="148" class="tbl" style="margin-top:10px;">
                    <tr valign="top">
                        <td width="32%" height="34" valign="middle"><p><strong>Insured</strong> <strong>Item</strong></p></td>
                        <td width="26%" valign="middle"><strong><p>Sum Insured (GHC)</p></strong></td>
                        <td width="39%" valign="middle"><strong><p>Deductible</p></strong></td>
                    </tr>
                    <tr valign="top">
                        <td height="34" valign="middle"><p>Contract Price (Contract Work)</p></td>
                        <td valign="middle">[Amount]</td>
                        <td valign="middle">&nbsp;</td>
                    </tr>
                    <tr valign="top">
                        <td height="34" valign="middle"><p>Contractors' all Risks</p></td>
                        <td valign="middle">[Amount]</td>
                        <td valign="middle">[Narration]</td>
                    </tr>
                    <tr valign="top">
                        <td height="34" colspan="2" align="center" valign="middle"><p><strong>Sum Insured</strong></p></td>
                        <td valign="middle">[Amount]</td>
                    </tr>
                </table>

                <!----------------------------------------------->

                <table width="100%" height="148" class="tbl" style="margin-top:10px;">
                    <tr valign="top">
                        <td width="32%" height="34" valign="middle"><p><strong>Insured</strong> <strong>Item</strong></p></td>
                        <td width="26%" valign="middle"><strong><p>Sum Insured (GHC)</p></strong></td>
                        <td width="39%" valign="middle"><strong><p>Deductible</p></strong></td>
                    </tr>
                    <tr valign="top">
                        <td height="34" valign="middle"><p>Third Party Body Injury Limit</p></td>
                        <td valign="middle">[Amount]</td>
                        <td valign="middle">&nbsp;</td>
                    </tr>
                    <tr valign="top">
                        <td height="34" valign="middle"><p>Third Party Property Damange</p></td>
                        <td valign="middle">[Amount]</td>
                        <td valign="middle">[Narration]</td>
                    </tr>
                    <tr valign="top">
                        <td height="34" colspan="2" align="center" valign="middle"><p><strong>Sum Insured</strong></p></td>
                        <td valign="middle">[Amount]</td>
                    </tr>
                </table>

                <table width="100%" style="margin-top:10px;">
                    <tr>
                        <td><strong>PROJECT TITLE:</strong></td>
                    </tr>
                    <tr><td style="text-transform:uppercase">[PROJECT NAME]</td></tr>
                </table>
                <table width="100%" height="148" class="" style="margin-top:10px;border:1px #000 solid;">
                    <tr valign="top">
                        <td width="32%" height="34" valign="middle"><p><strong>Branch</strong></p></td>
                        <td width="26%" valign="middle"><strong><p>&nbsp;</p></strong></td>
                        <td width="39%" valign="middle">[branch]</td>
                    </tr>
                    <tr valign="top">
                        <td height="34" valign="middle"><p><strong>Examined By</strong></p></td>
                        <td valign="middle">&nbsp;</td>
                        <td valign="middle">[examiner]</td>
                    </tr>
                    <tr valign="top">
                        <td height="34" valign="middle"><p><strong>Date</strong></p></td>
                        <td valign="middle">&nbsp;</td>
                        <td valign="middle">[date]</td>
                    </tr>
                </table>

            </div>
            <div class="col-sm-1"></div>
        </div>

        <div class="row">
            <div class="col-sm-1"></div>

            <!-------------------Footer------------------->

            <div class="col-sm-2"></div>
        </div>

    </div>
</body>
</html>
