
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>rptMotorScheduleFleet</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Css/Custom/rptMotor.css" rel="stylesheet" />
    <script src="~/Scripts/Js/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/Js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container" style="color:#000">
        <!-------------------Ttile------------------------>
        <!------------------------------------------------->

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10 center-block">
                <i>
                    <p style="text-align:center;font-weight:bold;margin-top:20px;font-size:26px;">Policy  Schedule - Motor Private Comprehensive</p>
                </i>
            </div>
            <div class="col-sm-1"></div>
        </div>

        <!--------------Details------------------>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <table width="100%" height="174" class="" style="border:1px #000 solid;">
                    <tr valign="top" style="border:1px #000 solid;">
                        <td width="186" height="32" valign="middle"><p><strong>Customer Name</strong></p></td>
                        <td width="251" valign="middle">: [customer name]</td>
                        <td width="143" align="left" valign="middle"><p><strong>Customer Code</strong></p></td>
                        <td colspan="2" valign="middle">: [Customer code]</td>
                        <td width="113" valign="middle">&nbsp;</td>
                    </tr>
                    <tr valign="top" style="border:1px #000 solid;">
                        <td height="32" valign="middle"><strong><p>Policy Number </p></strong></td>
                        <td valign="middle">: [Policy Number]</td>
                        <td align="left" valign="middle"><strong><p>Premium</p></strong></td>
                        <td width="183" align="left" valign="middle"><p>(GHC)</p></td>
                        <td width="112" align="right" valign="middle"> [premim]</td>
                        <td align="right" valign="middle">&nbsp;</td>
                    </tr>
                    <tr valign="top" style="border:1px #000 solid;">
                        <td height="32" valign="middle"><strong><p>Insured</p></strong></td>
                        <td valign="middle">: [Insured]</td>
                        <td align="left" valign="middle"><strong><p>NIC</p></strong></td>
                        <td colspan="2" align="right" valign="middle"> [nic]</td>
                        <td align="right" valign="middle">&nbsp;</td>
                    </tr>
                    <tr valign="top" style="border:1px #000 solid;">
                        <td height="32" valign="middle"><strong><p>Address</p></strong></td>
                        <td valign="middle">: [Address]</td>
                        <td align="left" valign="middle"><strong><p>Total</p></strong></td>
                        <td colspan="2" align="right" valign="middle">[total]</td>
                        <td align="right" valign="middle">&nbsp;</td>
                    </tr>
                    <tr valign="top" style="border:1px #000 solid;">
                        <td height="32" colspan="2" valign="middle"><p>&nbsp;</p></td>
                        <td align="left" valign="middle"><p><strong>Debit Note No.</strong></p></td>
                        <td colspan="2" valign="middle">: [debit note no.]</td>
                        <td valign="middle">&nbsp;</td>
                    </tr>
                </table>

                <!---Second Table---->
                <table width="100%" height="171" class="" style="margin-top:10px;">
                    <tr valign="top">
                        <td width="35%" height="86" valign="top"><p><strong>Policy Period</strong></p></td>
                        <td valign="top">
                            <p><strong>a) [policy period]</strong></p>
                            <p>
                                <strong>b)</strong> Any subsequent period for which the insured shall pay and the company shall agree to
                                accept a renewal premium
                            </p>
                        </td>
                    </tr>
                    <tr valign="top">
                        <td height="25" valign="middle"><strong>Coverage</strong></td>
                        <td valign="middle"> Motor Private Comprehensive <br /></td>
                    </tr>
                    <tr valign="top">
                        <td height="22" valign="middle">
                            <strong>
                                Note : Details of Vehicle as per Attachment <br />
                            </strong>
                        </td>
                        <td valign="middle">&nbsp;</td>
                    </tr>
                    <tr valign="top">
                        <td height="22" colspan="2" align="center" valign="middle">
                            <strong>
                                Private Company(X4) <br />
                            </strong>
                        </td>
                    </tr>
                </table>
                <table width="100%" height="238" class="" style="margin-top:10px;">
                    <tr valign="top">
                        <td height="32" valign="top">
                            <p>
                                <strong>
                                    Applicable Clause/Warranties :<br />
                                </strong>
                            </p>
                        </td>
                        <td width="63%" valign="top"><p>&nbsp;</p></td>
                    </tr>
                    <tr valign="top">
                        <td height="86" valign="middle">
                            1 . The Policy holder<br />
                            2 . Description of vehicles<br />
                            3 . The Policy does not cover <br />
                        </td>
                        <td valign="middle">
                            4. Comrcl DRIVERS: Any of these:-<br />
                            5. Limitations as to Use<br />
                            6. Loss Payee Clause <br />
                        </td>
                    </tr>
                    <tr valign="top">
                        <td height="34" valign="middle">
                            <p>
                                &quot;INCLUSION ENDORSEMENT<br />
                                -----------------------------
                            </p>
                            </p>
                        </td>
                        <td valign="middle">&nbsp;</td>
                    </tr>
                    <tr valign="top">
                        <td height="34" colspan="2" valign="middle">
                            <p>
                                <strong>Limits of the amount of the Company's Liability For death or bodily injury :</strong><br />
                                Limits of the amount of the Company's Liability For All Vehicles : <br />
                            </p>
                        </td>
                    </tr>
                </table>
                <table width="100%" height="116" class="" style="margin-top:10px;border:1px #000 solid;">
                    <tr valign="top">
                        <td width="16%" height="32" valign="middle"><p><strong>Branch</strong></p></td>
                        <td width="44%" valign="middle"><p>[branch]</p></td>
                        <td width="40%" valign="middle">For and behalf of [Insurance Company]</td>
                    </tr>
                    <tr valign="top">
                        <td height="32" valign="middle"><p><strong>Examined By</strong></p></td>
                        <td valign="middle">&nbsp;</td>
                        <td valign="middle">[examiner]</td>
                    </tr>
                    <tr valign="top">
                        <td height="32" valign="middle"><p><strong>Date</strong></p></td>
                        <td valign="middle">&nbsp;</td>
                        <td valign="middle">[date]</td>
                    </tr>
                </table>

                <table width="100%" style="margin-top:10px;"><tr><td align="center"><strong>Private Company(X4)</strong></td></tr></table>
                <!-------------THIRD----------------------------->

                <table width="100%" height="236" class="tbl" style="margin-top:10px;">
                    <tr valign="top">
                        <td width="10%" valign="top">
                            <p>
                                <strong>
                                    Sr. No.<br />
                                    Reg No.<br />
                                    Mfg. Yr
                                </strong>
                            </p>
                        </td>
                        <td width="12%" height="34" valign="top"><p><strong>Chasis No. </strong><strong>Engine No. </strong><strong>Make/Model</strong></p></td>
                        <td valign="top">
                            <strong>
                                <p>
                                    Body Type<br />
                                    No. of seats<br />
                                    Veh. CC
                                </p>
                            </strong>
                        </td>
                        <td width="17%" valign="top">
                            <p>
                                <strong>
                                    Estimate (GHC)<br />
                                    Value InclAccessory<br />
                                    Gross Premium
                                </strong>
                            </p>
                            <p><strong>Net Premium</strong></p>
                        </td>
                        <td width="12%" valign="top">
                            <p>
                                <strong>
                                    NCD<br />
                                    Fleet Discount<br />
                                    Spl. Discount
                                </strong>
                            </p>
                        </td>
                        <td width="11%" valign="top">
                            <p>
                                <strong>
                                    E. Treatment<br />
                                    NIC charges<br />
                                    PA
                                </strong>
                            </p>
                        </td>
                        <td width="11%" valign="top">
                            <p>
                                <strong>
                                    Extra TPPD<br />
                                    Extra Seat<br />
                                    Exx. Bought
                                </strong>
                            </p>
                        </td>
                        <td width="13%" valign="top">
                            <p>
                                <strong>
                                    Property (GHC)<br />
                                    Dmg Limit
                                </strong>
                            </p>
                        </td>
                        <td width="2%" valign="top"><p><strong>Excess</strong></p></td>
                    </tr>
                    <tr valign="top">
                        <td>
                            <p>
                                [Sr. No.]<br />
                                [Reg No].<br />
                                [Mfg. Yr].
                            </p>
                        </td>
                        <td height="118"><p>[Chasis No.] [Engine No.] [Make/Model]</p></td>
                        <td width="12%">
                            <p>
                                [Body Type]<br />
                                [No. of seats]<br />
                                [Veh. CC]
                            </p>
                        </td>
                        <td>
                            <p>
                                [Estimate (GHC)]<br />
                                [Value InclAccessory]<br />
                                [Gross Premium]
                            </p>
                        </td>
                        <td>
                            <p>
                                [NCD]<br />
                                [Fleet Discount]<br />
                                [Spl. Discount]
                            </p>
                        </td>
                        <td>
                            <p>
                                [E. Treatment]<br />
                                [NIC charges]<br />
                                [PA]
                            </p>
                        </td>
                        <td>
                            <p>
                                [Extra TPPD]<br />
                                [Extra Seat]<br />
                                [Exx. Bought]
                            </p>
                        </td>
                        <td>
                            <p>
                                [Property (GHC)]<br />
                            </p>
                        </td>
                        <td>&nbsp;</td>
                    </tr>
                </table>



                <!----------------------------------------------->



            </div>
            <div class="col-sm-1"></div>
        </div>

        <div class="row">
            <div class="col-sm-1"></div>

            <!-------------------Footer------------------->

            <div class="col-sm-2"></div>
        </div>

    </div>

</body>
</html>
