@{
    Layout = "~/Views/Shared/_AccountModule.cshtml";
}

<style>
    bgImg {
        background-image: url("~/Content/Images/blue.jpg" );
        background-repeat: no-repeat;
        background-size: 100% 100%;
        /*background-color: deepskyblue;*/
    }
</style>


<link href="~/Content/page_styles/Site.css" rel="stylesheet" />

<link href="~/Content/themes/base/base.css" rel="stylesheet" />
<link href="~/Content/themes/base/theme.css" rel="stylesheet" />




<div class="col-xs-12 col-sm-12 overlayAcct">
    

        <h1>Siba Life - Accounts</h1>

    
</div>


    <style type="text/css">
        .overlayAcct {
            
          
 top: 350px;
    left: 20%;

  width: 60%;
  height: 50%;
  border-radius: 50%;
  font-size: 50px;
  color: deepskyblue;
  line-height: 500px;
  text-align: center;
  background:white;

   

        }
    </style>
