@{
    ViewBag.Title = " Cover";
}

<script src="~/Scripts/Page_Scripts/cover.setup.js"></script>
<script src="~/Scripts/Services/cover.service.js"></script>

<div class="main">

    <div id="page-content-wrapper" class="roundElement effects">
        <div class="container-fluid xyz">
            <div class="row form-view">

                <div class="col-sm-12 col-md-12">
                    <!--Form Header-->
                    <div class="container" style="width: 100%;">
                        <div class="panel panel-default container-fluid">
                            <div class="panel-heading row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-success" id="btn_Save">
                                            <i class="fa fa-save" title="Save" aria-hidden="true"></i> Save
                                        </button>
                                        <button type="button" class="btn btn-danger" id="btnDelete">
                                            <i class="fa fa-trash-o" title="Delete" aria-hidden="true"></i> Delete
                                        </button>
                                        <button type="reset" class="btn btn-primary" id="btn_Reset">
                                            <i class="fa fa-refresh" title="Reset" aria-hidden="true"></i> Reset
                                        </button>
                                    </div>

                                    <div class="col-md-8">
                                        <button type="button" id="btnQueryCover" class="btn btn-info" style="float: right; margin-right: 15px">
                                            <i class="fa fa-search" title="Search" aria-hidden="true"></i> Search
                                        </button>
                                        <input id="txtSearch" style="width: 50%; text-align: center; float: right; margin-right: 10px"
                                               class="form-control" type="text" name="txtSearch" placeholder="Search by Code">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!--Header-->
                    <div class="row form-header">

                        <div id="tabs">
                            <ul>
                                <li><a href="#tabs-1">Cover Setup</a></li>
                            </ul>
                            <div id="tabs-1">
                                <form name="coverForm" id="coverForm">
                                    <div class="row control-group form-padding">
                                        <span class="control-grp-lbl text-danger">Fill the form below</span>

                                        <div class="row">
                                            <div class="col-md-6">

                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-2">
                                                            <label class="required">Code</label>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <span id="spry_code">
                                                                <input id="CVR_CODE" class="form-control" min="3" maxlength="15" type="text" name="CVR_CODE" title="Code" required>
                                                                <span class="textfieldRequiredMsg">Code is required.</span>
                                                                <span class="textfieldMinCharsMsg">Code must specify at least 15 characters.</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-2">
                                                            <label class="required">Name</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <span id="spry_name">
                                                                <input id="CVR_NAME" class="form-control" min="3" maxlength="100" type="text" name="CVR_NAME" title="Name" required>
                                                                <span class="textfieldRequiredMsg">Name is required.</span>
                                                                <span class="textfieldMinCharsMsg">Name must specify at least 15 characters.</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-2">
                                                            <label class="required">Description</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <span id="spry_desc">
                                                                <textarea id="CVR_DESCRIPTION" rows="4" cols="50" maxlength="100"
                                                                          class="form-control" type="text" name="CVR_DESCRIPTION" title="Description"></textarea>
                                                                <span class="textfieldRequiredMsg">Description is required.</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-2">
                                                            <label class="required">Type</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <select id="CVR_TYPE" name="CVR_TYPE" class="btn btn-default dropdown-toggle" required>
                                                                <option value="">Select Type</option>
                                                                <option value="N">None</option>
                                                                <option value="T">TPL</option>
                                                                <option value="O">OD</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-md-6">
                                                <div class="row control-group form-padding">
                                                    <span class="control-grp-lbl text-danger">Product Cover Options</span>
                                                    <!-- -->
                                                    <div class="row">
                                                        <div class="form-group">

                                                            <div class="col-md-4">
                                                                <label>
                                                                    Basic Cover ?
                                                                    <input class="checkbox-inline " min="3" type="checkbox" name="CVR_BASIC_COVER" id="CVR_BASIC_COVER" checked title="" />
                                                                </label>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <label>
                                                                    Rated ?
                                                                    <input class="checkbox-inline " min="3" type="checkbox" name="CVR_RATED" id="CVR_RATED" checked title="" />
                                                                </label>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <label>
                                                                    Rate Changed ?
                                                                    <input class="checkbox-inline " min="3" type="checkbox" name="CVR_RATE_CHANGE" id="CVR_RATE_CHANGE" checked title="" />
                                                                </label>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <!-- -->
                                                    <div class="row">
                                                        <div class="form-group">
                                                            <div class="col-md-4">
                                                                <label>
                                                                    SI Changed ?
                                                                   <input class="checkbox-inline " min="3" type="checkbox" name="CVR_SI_CHANGE" id="CVR_SI_CHANGE" checked title="" />
                                                                </label>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <label>
                                                                    User Premium?
                                                                    <input class="checkbox-inline " min="3" type="checkbox" name="CVR_USER_PREMIUM" id="CVR_USER_PREMIUM" checked title="" />
                                                                </label>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <label>
                                                                    Premium Refund?
                                                                    <input class="checkbox-inline " min="3" type="checkbox" name="CVR_PREM_REFUND" id="CVR_PREM_REFUND" checked  title="" />
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="form-group">

                                                            <div class="col-md-4">
                                                                <label>
                                                                    Applicable level?
                                                                    <input class="checkbox-inline " min="3" type="checkbox" name="CVR_LEVELS" id="CVR_LEVELS" checked title="" />
                                                                </label>
                                                            </div>

                                                            <div class="col-md-4">
                                                                <label>
                                                                    Policy ?
                                                                    <input class="checkbox-inline " min="3" type="checkbox" name="CVR_RI_APPLICABLE" id="CVR_RI_APPLICABLE" checked title="" />
                                                                </label>
                                                            </div>

                                                        </div>
                                                    </div>

                                                </div>


                                            </div>
                                        </div>

                                    </div>
                                </form>
                                <!--Grid Buttons-->
                                <div class="row">
                                    <div class="btn-block">
                                        <button id="btn_add_record" class="btn btn-default" type="button"> <i class="fa fa-plus-circle text-success"></i> Add New</button>
                                        <button id="btn_update_record" class="btn btn-default" type="button"><i class="fa fa-edit text-yellow"></i> Update</button>
                                        <button id="btn_remove_record" class="btn btn-default" type="button"><i class="fa fa-trash-o text-danger"></i> Remove</button>

                                        <button type="button" class="btn btn-default pull-right dialog-btn" id="export-btn" title="Export Grid data to Excel">
                                            <img src="~/Content/Images/Excell_DownLoad.png" alt="Down Load" height="25" width="27" /> Export
                                        </button>
                                    </div>
                                </div>
                                <!--Setup Grid-->
                                <div class="row">
                                    <table id="grdCover"></table>
                                    <table id="grdCoverPager"></table>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>s
</div>