@{
    ViewBag.Title = "Customer type";
}
<script src="~/Scripts/Page_Scripts/customer.types.setup.js"></script>
<script src="~/Scripts/Services/customertypes.service.js"></script>

<div class="main">

    <div id="page-content-wrapper" class="roundElement effects">
        <div class="container-fluid xyz">
            <div class="row form-view">

                <div class="col-sm-12 col-md-12">
                    <!--Form Header-->
                    <div class="container" style="width: 100%;">
                        <div class="panel panel-default container-fluid">
                            <div class="panel-heading row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-success" id="btn_Save">
                                            <i class="fa fa-save" title="Save" aria-hidden="true"></i> Save
                                        </button>
                                        <button type="button" class="btn btn-danger" id="btnDelete">
                                            <i class="fa fa-trash-o" title="Delete" aria-hidden="true"></i> Delete
                                        </button>
                                        <button type="reset" class="btn btn-primary" id="btn_Reset">
                                            <i class="fa fa-refresh" title="Reset" aria-hidden="true"></i> Reset
                                        </button>
                                    </div>

                                    <div class="col-md-8">
                                        <button type="button" id="btnQueryCustomertypes" class="btn btn-info" style="float: right; margin-right: 15px">
                                            <i class="fa fa-search" title="Search" aria-hidden="true"></i> Search
                                        </button>
                                        <input id="txtSearch" style="width: 50%; text-align: center; float: right; margin-right: 10px"
                                               class="form-control" type="text" name="txtSearch" placeholder="Search by Code">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!--Header-->
                    <div class="row form-header">

                        <div id="tabs">
                            <ul>
                                <li><a href="#tabs-1">Customer Type</a></li>
                            </ul>
                            <div id="tabs-1">
                                <form name="customertypeForm" id="customertypeForm">
                                    <div class="row control-group form-padding">
                                        <span class="control-grp-lbl text-danger">Fill the form below</span>
                                   
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-3">
                                                    <label class="required">Customer Category</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="input-group">
                                                        <input class="form-control" min="3" max-length="15" type="text" id="CTP_CUST_TYPE" name="CTP_CUST_TYPE" placeholder="Code" required />
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn_lov btn-default pull-left" data-dialog='{"type": "btn_custcat", "field1":"CTP_CUST_TYPE", "field2":"CUS_CAT_NAME"}'>
                                                                <i class="fa fa-sort-down" title="Select" aria-hidden="true"></i>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <input class="form-control" min="3" max-length="50" type="text" name="CUS_CAT_NAME" placeholder="Name" required />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-3">
                                                    <label class="required">Code</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <span id="spry_code">
                                                        <input id="CTP_CODE" class="form-control" min="1" maxlength="15" 
                                                               type="text" name="CTP_CODE" title="Code">
                                                        <span class="textfieldRequiredMsg">Code is required.</span>
                                                        <span class="textfieldMinCharsMsg">Code must specify at least 15 characters.</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-3">
                                                    <label class="required">Name</label>
                                                </div>
                                                <div class="col-md-4">
                                                    <span id="spry_name">
                                                        <input id="CTP_NAME" class="form-control" min="5" maxlength="50"
                                                               type="text" name="CTP_NAME" title="Name">
                                                        <span class="textfieldRequiredMsg">Name is required.</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-3">
                                                    <label class="required">Description</label>
                                                </div>
                                                <div class="col-md-4">
                                                    <span id="spry_decsymbol">
                                                        <textarea id="CTP_DESC" rows="4" cols="50" 
                                                                   class="form-control" name="CTP_DESC" title="Customer Type Description"></textarea>
                                                        <span class="textfieldRequiredMsg">Description is required.</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-3">
                                                    <label class="required">Preifx</label>
                                                </div>
                                                <div class="col-md-4">
                                                    <span id="spry_unit">
                                                        <input id="CTP_PREFIX" class="form-control" min="1" maxlength="5"
                                                               type="text" name="CTP_PREFIX" title="Prefix">
                                                        <span class="textfieldRequiredMsg">Prefix is required.</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-3">
                                                    <label class="required">Surfix</label>
                                                </div>
                                                <div class="col-md-4">
                                                    @*<span id="spry_symbol">*@
                                                        <input id="CTP_SURFIX" class="form-control" min="1" maxlength="5"
                                                               type="text" name="CTP_SURFIX" title="Surfix">
                                                        @*<span class="textfieldRequiredMsg">Symbol is required.</span>
                                                    </span>*@
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-3">
                                                    <label>
                                                        Status
                                                    </label>
                                                </div>
                                                <div class="col-md-3">
                                                    <input class="checkbox checkbox-inline pull-left" type="checkbox" id="CIT_STATUS" name="CIT_STATUS" checked required />
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                                <!--Grid Buttons-->
                                <div class="row">
                                    <div class="btn-block">
                                        <button id="btn_add_record" class="btn btn-default" type="button"> <i class="fa fa-plus-circle text-success"></i> Add New</button>
                                        <button id="btn_update_record" class="btn btn-default" type="button"><i class="fa fa-edit text-yellow"></i> Update</button>
                                        <button id="btn_remove_record" class="btn btn-default" type="button"><i class="fa fa-trash-o text-danger"></i> Remove</button>

                                        <button type="button" class="btn btn-default pull-right dialog-btn" id="export-btn" title="Export Grid data to Excel">
                                            <img src="~/Content/Images/Excell_DownLoad.png" alt="Down Load" height="25" width="27" /> Export
                                        </button>
                                    </div>
                                </div>
                                <!--Setup Grid-->
                                <div class="row">
                                    <table id="grdCustomertypes"></table>
                                    <table id="grdCustomertypesPager"></table>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>