@{
    ViewBag.Title = "Company";
}
<script src="~/Scripts/Page_Scripts/company.setup.js"></script>
<script src="~/Scripts/Services/company.service.js"></script>
<div class="main">

    <div id="page-content-wrapper" class="roundElement effects">
        <div class="container-fluid xyz">
            <div class="row form-view">

                <div class="col-sm-12 col-md-12">
                    <!--Form Header-->
                    <div class="container" style="width: 100%;">
                        <div class="panel panel-default container-fluid">
                            <div class="panel-heading row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-success" id="btn_Save">
                                            <i class="fa fa-save" title="Save" aria-hidden="true"></i> Save
                                        </button>
                                        <button type="button" class="btn btn-danger" id="btnDelete">
                                            <i class="fa fa-trash-o" title="Delete" aria-hidden="true"></i> Delete
                                        </button>
                                        <button type="reset" class="btn btn-primary" id="btn_Reset">
                                            <i class="fa fa-refresh" title="Reset" aria-hidden="true"></i> Reset
                                        </button>
                                    </div>

                                    <div class="col-md-8">
                                        <button type="button" id="btnQueryCompany" class="btn btn-info" style="float: right; margin-right: 15px">
                                            <i class="fa fa-search" title="Search" aria-hidden="true"></i> Search
                                        </button>
                                        <input id="txtSearch" style="width: 50%; text-align: center; float: right; margin-right: 10px"
                                               class="form-control" type="text" name="txtSearch" placeholder="Search by Code">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!--Header-->
                    <div class="row form-header">

                        <div id="tabs">
                            <ul>
                                <li><a href="#tabs-1">Company Setup</a></li>
                            </ul>
                            <div id="tabs-1">
                                <form name="companyForm" id="companyForm">
                                    <div class="row control-group form-padding">
                                        <span class="control-grp-lbl text-danger">Fill the Form below</span>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-2">
                                                            <label class="required">Code</label>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <span id="spry_code">
                                                                <input id="CMP_CODE" class="form-control" min="1" maxlength="15" type="text" name="CMP_CODE" title="Code" required>
                                                                <span class="textfieldRequiredMsg">Code is required.</span>
                                                                <span class="textfieldMaxCharsMsg">Code must not exceed 15 characters.</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-2">
                                                            <label class="required">Name</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <span id="spry_name">
                                                                <input id="CMP_NAME" class="form-control" min="5" maxlength="50"
                                                                       type="text" name="CMP_NAME" title="Name" required>
                                                                <span class="textfieldRequiredMsg">Name is required.</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-2">
                                                            <label class="required">Email</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <span id="spry_email">
                                                                <input id="CMP_EMAIL" class="form-control" min="1" maxlength="50"
                                                                       type="text" name="CMP_EMAIL" title="Name" required>
                                                                <span class="textfieldRequiredMsg">Email is required.</span>
                                                                <span class="textfieldInvalidFormatMsg">Please enter a valid email (user@domain.com).</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-2">
                                                            <label class="required">Phone</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <span id="spry_phone">
                                                                <input id="CMP_PHONE" class="form-control" min="1" maxlength="12"
                                                                       type="number" name="CMP_PHONE" title="Name" required>
                                                                <span class="textfieldRequiredMsg">Phone number is required.</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-2">
                                                            <label class="required">Address</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <span id="spry_address">
                                                                <textarea rows="2" cols="50" name="CMP_HEAD_OFFICE_ADD" id="CMP_HEAD_OFFICE_ADD" min="5" maxlength="40"
                                                                          class="form-control" required></textarea>
                                                                <span class="textfieldRequiredMsg">Address is required.</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-2">
                                                            <label>Website</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <input id="CMP_WEBSITE" class="form-control" min="5" maxlength="50"
                                                                   type="text" name="CMP_WEBSITE" title="Name">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-2">
                                                            <label class="required">Country</label>
                                                        </div>

                                                        <div class="col-md-2">
                                                            <span id="spry_lovcode">
                                                                <div class="input-group">
                                                                    <input class="form-control" min="3" max-length="15" type="text" id="CMP_CNT_CODE" name="CMP_CNT_CODE" title="Country Code" required />

                                                                    <span class="input-group-btn">
                                                                        <button type="button" class="btn btn_lov btn-default pull-left" data-dialog='{"type": "btn_country", "field1":"CMP_CNT_CODE", "field2":"CMP_CNT_NAME"}'>
                                                                            <i class="fa fa-sort-down" title="Select" aria-hidden="true"></i>
                                                                        </button>
                                                                    </span>
                                                                </div>
                                                                <span class="textfieldRequiredMsg">Code is required.</span>
                                                            </span>
                                                        </div>

                                                        <div class="col-md-4">
                                                            <span id="spry_lovname">
                                                                <input class="form-control" min="3" max-length="50" type="text" id="CMP_CNT_NAME" name="CMP_CNT_NAME" title="Country Name" />
                                                                <span class="textfieldRequiredMsg">Name is required.</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-2">
                                                            <label>
                                                                Status
                                                            </label>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <input class="checkbox checkbox-inline pull-left" type="checkbox" id="CIT_STATUS" name="CIT_STATUS" checked required />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!--Grid Buttons-->
                                <div class="row">
                                    <div class="btn-block">
                                        <button id="btn_add_record" class="btn btn-default" type="button"> <i class="fa fa-plus-circle text-success"></i> Add New</button>
                                        <button id="btn_update_record" class="btn btn-default" type="button"><i class="fa fa-edit text-yellow"></i> Update</button>
                                        <button id="btn_remove_record" class="btn btn-default" type="button"><i class="fa fa-trash-o text-danger"></i> Remove</button>

                                        <button type="button" class="btn btn-default pull-right dialog-btn" id="export-btn" title="Export Grid data to Excel">
                                            <img src="~/Content/Images/Excell_DownLoad.png" alt="Down Load" height="25" width="27" /> Export
                                        </button>
                                    </div>
                                </div>
                                <!--Setup Grid-->
                                <div class="row">
                                    <table id="grdCompany"></table>
                                    <table id="grdCompanyPager"></table>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>