@{
    ViewBag.Title = "Fire Earthquake Zone";
}
<script src="~/Scripts/Page_Scripts/fire.eq.zone.setup.js"></script>
<script src="~/Scripts/Services/fire.eq.zone.service.js"></script>

<div class="main">

    <div id="page-content-wrapper" class="roundElement effects">
        <div class="container-fluid xyz">
            <div class="row form-view">

                <div class="col-sm-12 col-md-12">
                    <!--Form Header-->
                    <div class="container" style="width: 100%;">
                        <div class="panel panel-default container-fluid">
                            <div class="panel-heading row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-success" id="btn_Save">
                                            <i class="fa fa-save" title="Save" aria-hidden="true"></i> Save
                                        </button>
                                        <button type="button" class="btn btn-danger" id="btnDelete">
                                            <i class="fa fa-trash-o" title="Delete" aria-hidden="true"></i> Delete
                                        </button>
                                        <button type="reset" class="btn btn-primary" id="btn_Reset">
                                            <i class="fa fa-refresh" title="Reset" aria-hidden="true"></i> Reset
                                        </button>
                                    </div>

                                    <div class="col-md-8">
                                        <button type="button" id="btnQueryRisk" class="btn btn-info" style="float: right; margin-right: 15px">
                                            <i class="fa fa-search" title="Search" aria-hidden="true"></i> Search
                                        </button>
                                        <input id="txtSearch" style="width: 50%; text-align: center; float: right; margin-right: 10px"
                                               class="form-control" type="text" name="txtSearch" placeholder="Search by Code">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!--Header-->
                    <div class="row form-header">

                        <div id="tabs">
                            <ul>
                                <li><a href="#tabs-1">Fire Earthquake Zone Setup</a></li>
                            </ul>
                            <div id="tabs-1">
                                <form name="eqzoneForm" id="eqzoneForm">
                                    <div class="row control-group form-padding">
                                        <span class="control-grp-lbl text-danger">Fill the Form below</span>

                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-2">
                                                    <label class="required">Code</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <span id="spry_code">
                                                        <input id="EQZ_CODE" class="form-control" min="3" maxlength="15" type="text" name="EQZ_CODE" title="Code" required>
                                                        <span class="textfieldRequiredMsg"></span>
                                                        <span class="textfieldMinCharsMsg">Code must specify at least 15 characters.</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-2">
                                                    <label class="required">Name</label>
                                                </div>
                                                <div class="col-md-4">
                                                    <span id="spry_name">
                                                        <input id="EQZ_NAME" class="form-control" min="5" maxlength="50"
                                                               type="text" name="EQZ_NAME" title="Name" required>
                                                        <span class="textfieldRequiredMsg">Name is required.</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-2">
                                                    <label class="required">Description</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <span id="spry_zip">
                                                        <textarea id="EQZ_DESC" rows="2" cols="50" maxlength="1000"
                                                                  class="form-control" type="text" name="EQZ_DESC" title="Description"></textarea>
                                                        <span class="textfieldRequiredMsg">Descripton is required.</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-2">
                                                    <label>
                                                        Status
                                                    </label>
                                                </div>
                                                <div class="col-md-3">
                                                    <input class="checkbox checkbox-inline pull-left" type="checkbox" id="EQZ_STATUS" name="EQZ_STATUS" checked />
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                                <!--Grid Buttons-->
                                <div class="row">
                                    <div class="btn-block">
                                        <button id="btn_add_record" class="btn btn-default" type="button"> <i class="fa fa-plus-circle text-success"></i> Add New</button>
                                        <button id="btn_update_record" class="btn btn-default" type="button"><i class="fa fa-edit text-yellow"></i> Update</button>
                                        <button id="btn_remove_record" class="btn btn-default" type="button"><i class="fa fa-trash-o text-danger"></i> Remove</button>

                                        <button type="button" class="btn btn-default pull-right dialog-btn" id="export-btn" title="Export Grid data to Excel">
                                            <img src="~/Content/Images/Excell_DownLoad.png" alt="Down Load" height="25" width="27" /> Export
                                        </button>
                                    </div>
                                </div>
                                <!--Setup Grid-->
                                <div class="row">
                                    <table id="grdFireEqZone"></table>
                                    <table id="grdFireEqZonePager"></table>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>