@{
    ViewBag.Title = "Source Of Business";
}
<script src="~/Scripts/Page_Scripts/insurance.source.setup.js"></script>
<script src="~/Scripts/Services/insurance.source.service.js"></script>

<div class="main">

    <div id="page-content-wrapper" class="roundElement effects">
        <div class="container-fluid xyz">
            <div class="row form-view">

                <div class="col-sm-12 col-md-12">
                    <!--Form Header-->
                    <div class="container" style="width: 100%;">
                        <div class="panel panel-default container-fluid">
                            <div class="panel-heading row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-success" id="btn_Save">
                                            <i class="fa fa-save" title="Save" aria-hidden="true"></i> Save
                                        </button>
                                        <button type="button" class="btn btn-danger" id="btnDelete">
                                            <i class="fa fa-trash-o" title="Delete" aria-hidden="true"></i> Delete
                                        </button>
                                        <button type="reset" class="btn btn-primary" id="btn_Reset">
                                            <i class="fa fa-refresh" title="Reset" aria-hidden="true"></i> Reset
                                        </button>
                                    </div>

                                    <div class="col-md-8">
                                        <button type="button" id="btnQueryInsource" class="btn btn-info" style="float: right; margin-right: 15px">
                                            <i class="fa fa-search" title="Search" aria-hidden="true"></i> Search
                                        </button>
                                        <input id="txtSearch" style="width: 50%; text-align: center; float: right; margin-right: 10px"
                                               class="form-control" type="text" name="txtSearch" placeholder="Search by Code">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!--Header-->
                    <div class="row form-header">

                        <div id="tabs">
                            <ul>
                                <li><a href="#tabs-1">insurance Source Setup</a></li>
                            </ul>
                            <div id="tabs-1">
                                <form name="insuranceForm" id="insuranceForm">
                                    <div class="row control-group form-padding">
                                        <span class="control-grp-lbl text-danger">Fill the form below </span>

                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-2">
                                                    <label class="required">Code</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <span id="sprytf_code">
                                                        <input id="INSUR_CODE" class="form-control" min="2" maxlength="15" type="text" name="INSUR_CODE" title="Code" required>
                                                        <span class="textfieldRequiredMsg">Code is required.</span>
                                                        <span class="textfieldMinCharsMsg">Code must specify at least 15 characters.</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-2">
                                                    <label class="required">Name</label>
                                                </div>
                                                <div class="col-md-5">
                                                    <span id="sprytf_name">
                                                        <input id="INSUR_NAME" class="form-control" min="2" maxlength="50"
                                                               type="text" name="INSUR_NAME" title="Name" required>
                                                        <span class="textfieldRequiredMsg">Name is required.</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-2">
                                                    <label class="required">Description</label>
                                                </div>
                                                <div class="col-md-4">
                                                    <span id="sprytf_desc">
                                                        <textarea id="INSUR_DESC" rows="2" cols="10" min="10" maxlength="100" class="form-control" type="text"
                                                                  name="INSUR_DESC" title="Description"></textarea>
                                                        <span class="textfieldRequiredMsg">Description is required.</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-2">
                                                    <label>
                                                        Status
                                                    </label>
                                                </div>
                                                <div class="col-md-3">
                                                    <input class="checkbox checkbox-inline pull-left" type="checkbox" id="INSUR_STATUS" name="INSUR_STATUS" checked />
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                                <!--Grid Buttons-->
                                <div class="row">
                                    <div class="btn-block">
                                        <button id="btn_add_record" class="btn btn-default" type="button"> <i class="fa fa-plus-circle text-success"></i> Add New</button>
                                        <button id="btn_update_record" class="btn btn-default" type="button"><i class="fa fa-edit text-yellow"></i> Update</button>
                                        <button id="btn_remove_record" class="btn btn-default" type="button"><i class="fa fa-trash-o text-danger"></i> Remove</button>

                                        <button type="button" class="btn btn-default pull-right dialog-btn" id="export-btn" title="Export Grid data to Excel">
                                            <img src="~/Content/Images/Excell_DownLoad.png" alt="Down Load" height="25" width="27" /> Export
                                        </button>
                                    </div>
                                </div>
                                <!--Setup Grid-->
                                <div class="row">
                                    <table id="grdInsource"></table>
                                    <table id="grdInsourcePager"></table>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var sprytf_code = new Spry.Widget.ValidationTextField("sprytf_code", 'none', { validateOn: ["blur", "change"] });
        var sprytf_name = new Spry.Widget.ValidationTextField("sprytf_name", 'none', { validateOn: ["blur", "change"] });
        var sprytf_desc = new Spry.Widget.ValidationTextField("sprytf_desc", 'none', { validateOn: ["blur", "change"] });
    </script>
</div>