@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <link href="~/Content/Css/Jquery/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="~/Scripts/JQuery/jquery-1.10.2.js"></script>
    <script src="~/Scripts/JQuery/jquery-ui-1.11.4.js"></script>
    <!-- grid reference-->
    <script src="~/Scripts/JQuery/jquery-1.8.3.js"></script>
    <link href="~/Content/Css/Jquery/ui.jqgrid.css" rel="stylesheet" />
    <script src="~/Scripts/JQuery/jquery-ui-1.9.2.custom.js"></script>

    <script src="~/Scripts/JQuery/jquery-ui-1.9.2.customs.js"></script>
    <link href="~/Content/Css/Jquery/jquery-ui-1.9.2.custom.css" rel="stylesheet" />
    <script src="http://jqueryrock.googlecode.com/svn/trunk/jqgrid/js/grid.locale-en.js" type="text/javascript"></script>

    <!-------------- Validation link-->
    <link href="~/Scripts/Validation/SpryValidationTextField.css" rel="stylesheet" />
    <script src="~/Scripts/Validation/SpryValidationTextField.js"></script>

    <script src="~/Scripts/JQuery/jquery.jqGrid.min.js"></script>

    <script type="text/javascript">

            jQuery(document).ready(function () {
                var lastsel2

                jQuery("#datagrid").jqGrid({
                    datatype: "local",
                    height: 250,
                    width: "100%",
                    sortable: true,

                    search: {
                        caption: "Search...",
                        Find: "Find",
                        Reset: "Reset",
                        data: ['equal', 'not equal', 'less', 'less or equal', 'greater', 'greater or equal', 'begins with', 'does not begin with', 'is in', 'is not in', 'ends with', 'does not end with', 'contains', 'does not contain'],
                        groupOps: [{ op: "AND", text: "all" }, { op: "OR", text: "any" }],
                        matchText: " match",
                        rulesText: " rules"
                    },

                    colNames: ['ID', 'Name', 'Address', 'Age', 'Date'],
                    colModel: [
                    { name: 'id', index: 'id', width: 260, sorttype: "int", editable: true },
                    { name: 'name', index: 'name', width: 250, editable: true },
                    { name: 'adress', index: 'address', width: 250, editable: true },
                    { name: 'age', index: 'age', width: 250, editable: true },
                      { name: 'date', index: 'date', width: 250, editable: true },
                    ],

                    onSelectRow22: function (id) {
                        $('#datagrid').jqGrid("editCell", 0, 0, false);
                        var rowData = jQuery(this).getRowData(id);
                        var temp = rowData['name'];//replace name with your column
                        $('#txtName').val() = temp;
                        //alert(temp);
                    },
                    caption: "Employee Details",



                })




            })


            //call add function to add records to grid
            $(document).ready(function () {

                $("#Add").on('click', function () {
                    if ($('#txtName').val() == "") {
                        alert(" Name field cannot be empty");

                    }
                    else {
                        var personData = [
                        { id: $('#txtID').val(), name: $('#txtName').val(), adress: $('#txtAddress').val(), age: $('#txtAge').val() },

                        ];
                        for (var i = 0; i < personData.length; i++)
                            jQuery("#datagrid").addRowData(personData[i].id, personData[i]);


                    }

                });

            });

    </script>
    <!-- --------------------------------Diaglog form begins here---------------------- -->
    <script>
        $(function () {
            var dialog, form,

              name = $("#name"),
              email = $("#email"),
              password = $("#password"),
              allFields = $([]).add(name).add(email).add(password),
              tips = $(".validateTips");

            function updateTips(t) {
                tips
                  .text(t)
                  .addClass("ui-state-highlight");
                setTimeout(function () {
                    tips.removeClass("ui-state-highlight", 1500);
                }, 500);
            }


            function addUser() {

                    if ($('#txtName1').val() == "") {
                        alert(" Name field cannot be empty");

                    }
                    else {
                        var personData = [
                        { id: $('#txtID1').val(), name: $('#txtName1').val(), adress: $('#txtAddress1').val(), age: $('#txtAge1').val(),  date: $('#dtDob2').val()  },

                        ];
                        for (var i = 0; i < personData.length; i++)
                            jQuery("#datagrid").addRowData(personData[i].id, personData[i]);

                    }


            }

            // initialising the dialog form
            dialog = $("#dialog-form").dialog({
                autoOpen: false,
                height: 600,
                width: 700,
                modal: true,
                buttons: {
                    "Create an account": addUser,
                    Cancel: function () {
                        dialog.dialog("close");
                    }
                },
                close: function () {
                    form[0].reset();
                    allFields.removeClass("ui-state-error");
                }
            });

            form = dialog.find("form").on("submit", function (event) {
                event.preventDefault();
                addUser();
            });

            $("#btnSelCoverProp").button().on("click", function () {
                dialog.dialog("open");
            });
        });
    </script>

    <!-- Form Controls -->
    <script>
            //Taps Layout function call using Jquery
            $(function () {
                $("#tabs").tabs({
                    beforeLoad: function (event, ui) {
                        ui.jqXHR.fail(function () {
                            ui.panel.html(
                              "Couldn't load this tab. We'll try to fix this as soon as possible. " +
                              "If this wouldn't be a demo.");
                        });
                    }
                });
            });

            $(function () {
              //  $("#tabs").resizable();
                $("#tabs").height(1700);
                //$("#tabs").draggable();

            });


            //Date picker -->
            $(function () {
                $("#dtPolstartDate").datepicker({
                    showOn: "button",
                    buttonImage: "Image/datePicker.gif",
                    buttonImageOnly: true,
                    buttonText: "Select"
                });
            });

        //Date picker -->
        //Start date
            $(function () {
                $("#dtPolEndDate").datepicker({
                    showOn: "button",
                    buttonImage: "Image/datePicker.gif",
                    buttonImageOnly: true,
                    buttonText: "Select"
                });
            });
        //end date
            $(function () {
                $("#dtDob2").datepicker({
                    showOn: "button",
                    buttonImage: "Image/datePicker.gif",
                    buttonImageOnly: true,
                    buttonText: "Select"

                });

            });
        //Numeric Value input
            $(document).ready(function () {
                //called when key is pressed in textbox
                $("#txtAge").keypress(function (e) {
                    //if the letter is not digit then display error and don't type anything
                    if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                        //display error message
                        $("#errmsg").html("Digits Only").show().fadeOut("slow");
                        return false;
                    }
                });
            });


        //Modal dialog confirm -->
            $("#btnDelete").button().on("click", function () {
                $("#dialog-confirm").dialog({
                    resizable: false,
                    height: 140,
                    modal: true,
                    buttons: {
                        "Delete all items": function () {
                            $(this).dialog("close");
                        },
                        Cancel: function () {
                            $(this).dialog("close");
                        }
                    }
                });
            });

    </script>

    <!-- Adding a style-->
    <style>
        .divleft {
            background-color: Gray;
            width: 40%;
            height: 20px;
            float: left;
        }

        .divrihgt {
            background-color: red;
            width: 60%;
            height: 20px;
            float: left;
        }

        .divcontainer {
            width: 100%;
        }

        div.card {
            overflow: auto;
            width: 100%;
            height: 100%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            line-height: 2em;
        }

        div.Covers {
            width: 100%;
            height: 60px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        div.FormMenu {
            width: 100%;
            height: 60px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        label {
            display: inline-block;
            width: 11em;
            color: blue;
            text-align: right;
            font-size: 12px;
        }

        errmsg {
            color: red;
        }

        .fwm_button {
            color: white;
            font-weight: bold;
            background-color: #6699cc;
            border: 2px outset;
            border-top-color: #aaccff;
            border-left-color: #aaccff;
            border-right-color: #003366;
            border-bottom-color: #003366;
            width: 100px;
        }

        .Select_button {
            color: lightseagreen;
            font-weight: bold;
            width: 3%;
            height: 30px;
        }

        .inputCode {
            height: 30px;
            width: 30px;
            text-align: right;
        }

        .checkboxx-inline {
            display: inline-block;
            padding-left: 10px;
            padding-right: 45px;
            margin-bottom: 0;
            font-weight: normal;
            vertical-align: middle;
            cursor: pointer;
        }

            .checkboxx input[type="checkbox"], .checkboxx-inline input[type="checkbox"] {
                float: none;
                margin-left: -10px;
                margin-right: 10px;
            }

            .checkboxx-inline + .checkboxx-inline {
                margin-top: 0;
                margin-left: 10px;
            }

        .checkboxx label {
            display: inline;
            margin-bottom: 0;
            font-weight: normal;
            cursor: pointer;
        }

        label.required:after {
            content: " *";
            color: red;
        }
    </style>


    <div class="card">
        <div class="divcontainer">
            <div calss="divleft">

            </div>
            <div calss="divrihgt">

            </div>
        </div>

        <div id="tabs">
            <!-- Head-->
            <div style="background-color: skyblue; height: 50px; text-align: center">

                <button type="submit" style="border: 0; background: transparent" title="Save"><img src="~/Content/Images/glyphicon/glyphicons-447-floppy-save.png" alt="submit" /></button>
                <button type="submit" style="border: 0; background: transparent" title="Delete"><img src="~/Content/Images/glyphicon/glyphicons-257-delete.png" alt="submit" /></button>
                <button type="submit" style="border: 0; background: transparent" title="Last record"><img src="~/Content/Images/glyphicon/glyphicons-172-fast-backward.png" alt="submit" /></button>
                <button type="submit" style="border: 0; background: transparent" title="Previous"><img src="~/Content/Images/glyphicon/glyphicons-171-step-backward.png" alt="submit" /></button>
                <button type="submit" style="border: 0; background: transparent" title="Next"><img src="~/Content/Images/glyphicon/glyphicons-177-forward.png" alt="submit" /></button>
                <button type="submit" style="border: 0; background: transparent" title="First record"><img src="~/Content/Images/glyphicon/glyphicons-178-fast-forward.png" alt="submit" /></button>

            </div>
            <!-- Tab 1 Header-->
            <ul>

                <li><a href="#tabs-1">Cover Details</a></li>

            </ul>

            <!-- --------------------------Tab 1 Content begins------------------------------------->

            <div id="tabs-1">

                <form>
                    <div>
                        <fieldset>
                            <div class="form-group required">
                                <label id="lblCovCode" for="txtProdCode" class="required">Code</label>
                                <span id="sprytf_CoverCode">
                                    <input id="txtCovCode" style="width:30%; height: 30px " class="text ui-widget-content ui-corner-all" type="text" name="CoverCode" title="Cover Code">
                                    <span class="textfieldRequiredMsg">Cover Code is required.</span>
                                    <span class="textfieldMinCharsMsg">Cover Code must specify at least 4 characters.</span>
                                    <span class="textfieldInvalidFormatMsg">Cover Code must be Integer.</span>
                                </span>
                                <br />
                                <label id="lblCoverName" for="txtCoverName" class="required">Name</label>
                                <span id="sprytf_CoverName">
                                    <input id="txtCoverName" style="width:30%; height: 30px " class="text ui-widget-content ui-corner-all" type="text" name="CoverName" title="Enter Cover name">
                                    <span class="textfieldRequiredMsg">Cover Name is required.</span>
                                    <span class="textfieldMinCharsMsg">Cover Name  must be characters.</span>
                                </span>
                                <br />
                                <label id="lblCoverDesc" for="txtCoverDesc" class="required">Description</label>
                                <span id="sprytf_CoverDesc">
                                    <input id="txtCoverName" style="width:30%; height: 30px " class="jqx-text-area-element ui-widget-content ui-corner-all" type="text" name="CoverDesc" title="Enter Cover name">
                                    <span class="textfieldRequiredMsg">Cover Description is required.</span>
                                    <span class="textfieldMinCharsMsg">Cover Description  must be characters.</span>
                                </span>
                                <br />
                                <fieldset>
                                    <label id="lblBasicCov" for="txtBasicCov" class="required">Basic Cover</label>
                                    <label class="checkboxx-inline"><input type="checkbox" value="Yes"></label>

                                    <label id="lblRated" for="txtRated" class="required">Rated?</label>
                                    <label class="checkboxx-inline"><input type="checkbox" value="Yes"></label>
                                </fieldset>
                                <fieldset>
                                    <label id="lblRateCharged" for="txtRateCharged" class="required">Rate Charged?</label>
                                    <label class="checkboxx-inline"><input type="checkbox" value="Yes"></label>

                                    <label id="lblSMIChanged" for="txtSMIChanged" class="required">SMI Changed?</label>
                                    <label class="checkboxx-inline"><input type="checkbox" value="Yes"></label>
                                </fieldset>
                                <fieldset>
                                    <label id="lblUserPrem" for="txtUserPrem" class="required">User Premium</label>
                                    <label class="checkboxx-inline"><input type="checkbox" value="Yes"></label>

                                    <label id="lblPremiumRefd" for="txtPremiumRef" class="required">Premium Refund</label>
                                    <label class="checkboxx-inline"><input type="checkbox" value="Yes"></label>
                                </fieldset>
                                <label id="lblCoverLevel" for="txtCoverLevel" class="required">Cover Level</label>
                                <label class="checkboxx-inline"><input type="checkbox" value="Policy">Policy</label>
                                <label class="checkboxx-inline"><input type="checkbox" value="Location">Location</label>
                                <label class="checkboxx-inline"><input type="checkbox" value="Risk">Risk</label>
                                <br />
                                <label id="lblCoverProp" for="txtCoverProp" class="required">Cover Properties</label>
                                <button type="button" style="width: 80px" id="btnSelCoverProp" class="Select_button ; ui-button ui-widget-content ui-corner-all" title="Select Customer Code"> <> </button>
                                <br />
                                <fieldset>
                                    <label id="lblPremiumFac" for="txtPremiumFac" class="required">Premium Factors</label>
                                    <label class="checkboxx-inline"><input type="checkbox" value="Yes"></label>

                                    <label id="lblRIApplicable" for="txtRIApplicable" class="required">RI Applicable</label>
                                    <label class="checkboxx-inline"><input type="checkbox" value="Yes"></label>
                                </fieldset>
                            </div>

                        </fieldset>
                    </div>

                    <fieldset></fieldset>


                </form>
            </div>
            <!-- --------------------------Tab 1 Content ends------------------------------------->
            <!-- dialog-form -->
            <div id="dialog-form" title="Create new user">
                <p class="validateTips">All form fields are required.</p>

                <form>
                    <fieldset>
                        <div>
                            <br />
                            <label id="lblID" for="txtID">ID</label>
                            <input id="txtID1" type="text" style="width: 60%" name="ID" title="Please provide your ID number">

                        </div><br />

                        <div>
                            <label id="lblName" for="txtAddress"> Name</label>
                            <input id="txtName1" type="text" name="Name" title="Please provide your full name.">
                        </div> <br />

                        <div>
                            <label id="lblAddress" for="txtAddress">Address</label>
                            <input id="txtAddress1" type="text" name="Address" title="Provide Your home or work address.">
                        </div><br />

                        <div>
                            <label id="lblDate " for="dtDob"> Date</label>
                            <input id="dtDob2" type="text" title="Your date of birth">
                        </div><br /><br />

                        <div>
                            <label id="lblAge " for="txtAge">Age</label>
                            <input id="txtAge1" type="text" title="Your Age">
                        </div><br />

                        <div style="background-color:silver">
                            <hr />
                        </div>

                    </fieldset>
                </form>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    var sprytf_CoverCode = new Spry.Widget.ValidationTextField("sprytf_CoverCode", 'integer', { minChars: 4, maxChars: 6, validateOn: ["blur", "change"] });
    var sprytf_CoverName = new Spry.Widget.ValidationTextField("sprytf_CoverName", 'none', { validateOn: ["blur", "change"] });
    var sprytf_CoverDesc = new Spry.Widget.ValidationTextField("sprytf_CoverDesc", 'none', { validateOn: ["blur", "change"] });
</script>
