<script src="~/Scripts/Page_Scripts/users.setup.js"></script>
<script src="~/Scripts/Services/user.service.js"></script>

<div class="main">
    <div id="page-content-wrapper" class="roundElement effects">
        <div class="container-fluid xyz">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">

                    <div class="container" style="width: 100%;">
                        <div class="panel panel-default">
                            <div class="panel-heading row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-success" id="btn_Save">
                                            <i class="fa fa-save" title="Save" aria-hidden="true"></i> Save
                                        </button>
                                        <button type="button" class="btn btn-danger" id="btn_Delete">
                                            <i class="fa ion-trash-b" title="Delete" aria-hidden="true"></i> Delete
                                        </button>
                                        <button type="reset" class="btn btn-primary" id="btn_Reset">
                                            <i class="fa ion-loop" title="Reset" aria-hidden="true"></i> Reset
                                        </button>
                                    </div>

                                    <div class="col-md-8">
                                        <button type="button" id="btnQueryUser" class="btn btn-info" style="float: right; margin-right: 15px">
                                            <i class="fa fa-search" title="Search" aria-hidden="true"></i> Search
                                        </button>
                                        <input id="txtSearch" style="width: 50%; height: 30px; text-align: center; float: right; margin-right: 10px"
                                               class="text ui-widget-content ui-corner-all" type="text" name="txtSearch" placeholder="Search by Code">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div id="tabs">
                        <ul>
                            <li><a href="#tabs-1">User Setup</a></li>
                        </ul>
                        <div id="tabs-1">
                            <form name="userForm" id="userForm" class="form-horizontal">
                                <div>
                                    <div class="row control-group form-padding">
                                        <span class="control-grp-lbl text-danger">Fill the form below</span>
                                        <div class="row">

                                            <div class="col-md-6">

                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-3">
                                                            <label>Code</label>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <input type="text" min="2" max="15" class="form-control" name="USR_CODE" title="User Code">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-3">
                                                            <label>First Name</label>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <input type="text" min="3" max="30" class="form-control" name="USR_F_NAME" title="First Name">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-3">
                                                            <label>Last Name</label>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <input type="text" min="5" max="30" class="form-control" name="USR_L_NAME" title="Last Name">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-3">
                                                            <label>Middle Name</label>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <input type="text" min="3" max="30" class="form-control" name="USR_M_NAME" title="Middle Name">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-3">
                                                            <label>Full Name</label>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <input type="text" min="3" max="30" class="form-control" name="USR_FULL_NAME" title="Full Name">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-3">
                                                            <label>Gender</label>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <select class="form-control" name="USR_GENDER">
                                                                <option value="M">Male</option>
                                                                <option value="F">Female</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-3">
                                                            <label>Description</label>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <textarea class="form-control" min="3" maxlength="100" name="USR_RESID_ADD" title="Residential Address" required></textarea>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-3">
                                                            <label>Postal Address</label>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <textarea class="form-control" min="3" maxlength="100" name="USR_POST_ADD" title="Postal Address" required></textarea>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-3">
                                                            <label>Zip Code</label>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <input type="text" min="2" max="15" class="form-control" name="USR_ZIP_CODE" title="Zip Code">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-3">
                                                            <label>Birth date</label>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <input type="text" id="" class="form-control" name="USR_BIRTH_DATE" title="Birth date">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-3">
                                                            <label>Join date</label>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <input type="text" id="" style="height:30px;" class="form-control" name="USR_JOIN_DATE" title="Join date">
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>

                                            <div class="col-md-6">

                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-2">
                                                            <label>Country</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <input class="form-control" min="3" maxlength="5" type="text" name="USR_COUNTRY" title="Country Code" required />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-2">
                                                            <label>Location</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <input class="form-control" min="3" maxlength="5" type="text" name="USR_LOCATION" title="Location Code" required />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-2">
                                                            <label>Position</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <select class="form-control" name="USR_POSITION">
                                                                <option>--Select--</option>
                                                                <option value="C.E.O">C.E.O</option>
                                                                <option value="BSM">Business Service Manager</option>
                                                                <option value="Underwriter">Underwriter</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-2">
                                                            <label>Grade</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <select class="form-control" name="USR_GRADE">
                                                                <option>--Select--</option>
                                                                <option value="A">A</option>
                                                                <option value="B">B</option>
                                                                <option value="C">C</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-2">
                                                            <label>Role</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <select class="form-control" name="USR_ROLE">
                                                                <option>--Select--</option>
                                                                <option value="Admininstrator">Administrator</option>
                                                                <option value="User">User</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-2">
                                                            <label>Reports to</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <select class="form-control" name="USR_REPORTS_TO">
                                                                <option>--Select--</option>
                                                                <option value="Admininstrator">Administrator</option>
                                                                <option value="User">User</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-2">
                                                            <label>Profile image</label>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <input type="text" class="form-control" name="USR_PROFILE_IMG" title="Profile image">
                                                        </div>
                                                        <button type="button" class="btn btn-default" id="btnSelCover">
                                                            <i class="fa fa-sort-down" title="Select" aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-2">
                                                            <label>Email</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <input type="email" class="form-control" name="USR_EMAIL" title="Email">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-2">
                                                            <label>Password</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="input-group" style="width: 100%">
                                                                <input type="password" class="form-control" name="USR_PASSWD1" title="Password">
                                                                <div class="input-group-btn">
                                                                    <button type="button" id="pass-check" class="btn"><i class="fa fa-eye"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-2">
                                                            <label>Re-enter Password</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <input type="password" class="form-control" name="USR_PASSWD2" title="Password">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-2">
                                                            <label>Phone No. 1</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <input type="tel" class="form-control" name="USR_PHONE_NUMBER1" title="Phone Number">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-2">
                                                            <label>Phone No. 2</label>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <input type="tel" class="form-control" name="USR_PHONE_NUMBER2" title="Phone Number">
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </form>
                            <!--Grid Buttons-->
                            <div class="row">
                                <div class="btn-block">
                                    <button id="btn_add_record" class="btn btn-default" type="button"> <i class="fa ion-plus-circled text-success"></i> Add New</button>
                                    <button id="btn_update_record" class="btn btn-default" type="button"><i class="fa ion-edit text-yellow"></i> Update</button>
                                    <button id="btn_remove_record" class="btn btn-default" type="button"><i class="fa ion-trash-b text-danger"></i> Remove</button>

                                    <button type="button" class="btn btn-default pull-right dialog-btn" id="export-btn" title="Export Grid data to Excel">
                                        <img src="~/Content/Images/Excell_DownLoad.png" alt="Down Load" height="25" width="27" /> Export
                                    </button>
                                </div>
                            </div>

                            <div>
                                <table id="grdUsers"></table>
                                <table id="grdUsersPager"></table>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>


</div>


