<div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <!--- Jquery script must be placed on every form to enable sidebar menus -->
        <script src="~/Scripts/JQuery/jquery-1.8.3.js"></script>
        <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

        <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
        <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>


        <h2 style="border-bottom-color:red" class="sub-header">Products</h2>


        <div class="row placeholders">



            <div class="col-xs-6 col-sm-3 placeholder">
                <a href="~/Home/frmUwMotorUAT"> <img src="~/Content/Images/bict_icons/icon-BIC-white-4.png" style="width: 80px; border: 0" class="img-responsive" alt="Generic placeholder thumbnail"> </a>
                <h5>Motor Insurance</h5>
                <span class="text-muted"></span>
            </div>

            <div class="col-xs-6 col-sm-3 placeholder">

                <a href="~/Home/frmUwMotor"> <img src="~/Content/Images/bict_icons/icon-BIC-white-2.png" style="width:90px;border:0" class="img-responsive" alt="Generic placeholder thumbnail"></a>
                <h5>Home Owners Insurance</h5>
                <span class="text-muted"></span>
            </div>

            <div class="col-xs-6 col-sm-3 placeholder">
                <a href="~/Home/frmUwFire"> <img src="~/Content/Images/fireInsurance.jpg" style="width:150px;height:150px;border:0" class="img-responsive" alt="Generic placeholder thumbnail"></a>
                <h5> Fire and Allied Perils</h5>
                <span class="text-muted"></span>
            </div>

            <div class="col-xs-6 col-sm-3 placeholder">
                <a href="~/Home/frmUwTravel"> <img src="~/Content/Images/Travel Insurance.png" style="width:150px;height:150px;border:0" class="img-responsive" alt="Generic placeholder thumbnail" /></a>
                <h5>Travel Insurance</h5>
                <span class="text-muted">  </span>
            </div>

            <div class="col-xs-6 col-sm-3 placeholder">
                <a href="~/Home/frmUwPA"> <img src="~/Content/Images/PA_insurance.png" style="width:150px;height:150px;border:0" class="img-responsive" alt="Generic placeholder thumbnail"></a>
                <h5> Personal Accident Insurance </h5>
                <span class="text-muted"></span>
            </div>

            <div class="col-xs-6 col-sm-3 placeholder">
                <a href="~/Home/frmUwEngineer"> <img src="~/Content/Images/engeneering.jpg" style="width:150px;height:150px;border:0" class="img-responsive" alt="Generic placeholder thumbnail"></a>
                <h5> Engineering Insurance </h5>
                <span class="text-muted"></span>
            </div>

            <div class="col-xs-6 col-sm-3 placeholder">
                <a href="~/Home/frmUwMotor"> <img src="~/Content/Images/marineInsurance.jpg" style="width:150px;height:150px;border:0" class="img-responsive" alt="Generic placeholder thumbnail"></a>
                <h5> Marine Insurance </h5>
                <span class="text-muted"></span>
            </div>

            <div class="col-xs-6 col-sm-3 placeholder">
                <a href="~/Home/frmUwMotor"> <img src="~/Content/Images/Aviation.jpg" style="width:150px;height:150px;border:0" class="img-responsive" alt="Generic placeholder thumbnail"></a>
                <h5> Aviation Insurance </h5>
                <span class="text-muted"></span>
            </div>

            <div class="col-xs-6 col-sm-3 placeholder">
                <a href="~/Home/frmUwBond"> <img src="~/Content/Images/bond.png" style="width:150px;height:150px;border:0" class="img-responsive" alt="Generic placeholder thumbnail"></a>
                <h5> Bond Insurance </h5>
                <span class="text-muted"></span>
            </div>

            <div class="col-xs-6 col-sm-3 placeholder">
                <a href="~/Home/frmUwGA"> <img src="~/Content/Images/car-accident-claims.jpg" style="width:150px;height:150px;border:0" class="img-responsive" alt="Generic placeholder thumbnail"></a>
                <h5> General Accident Insurance </h5>
                <span class="text-muted"></span>
            </div>

            <div class="col-xs-6 col-sm-3 placeholder">
                <a href="~/Home/frmUwLiability"> <img src="~/Content/Images/liability.jpg" style="width:150px;height:150px;border:0" class="img-responsive" alt="Generic placeholder thumbnail"></a>
                <h5> Liability Insurance </h5>
                <span class="text-muted"></span>
            </div>

        </div>



    </div>
</div>