
.roundElement	
        {
	            border-radius: 10px;
                background:#FFF;
        }

.effects
{
    position:relative;
    box-shadow:2px 5px 5px 5px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.effects:before, .effects:after
{
	content:"";
    position:absolute; 
    z-index:-1;
    box-shadow:0 0 20px rgba(0,0,0,0.50);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    border-radius:100px / 10px;
} 

.effects:after
{
    right:10px; 
    left:auto; 
    transform:skew(8deg) rotate(3deg);
}

        .checkboxx-inline {
            display: inline-block;
            padding-left: 10px;
            padding-right: 45px;
            margin-bottom: 0;
            font-weight: normal;
            vertical-align: middle;
            cursor: pointer;
        }

            .checkboxx input[type="checkbox"], .checkboxx-inline input[type="checkbox"] {
                float: none;
                margin-left: -10px;
                margin-right: 10px;
            }

            .checkboxx-inline + .checkboxx-inline {
                margin-top: 0;
                margin-left: 10px;
            }

        .checkboxx label {
            display: inline;
            margin-bottom: 0;
            font-weight: normal;
            cursor: pointer;
        }

    
        div.card {
            overflow: auto;
            width: 100%;
            height: 100%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            line-height: 1.5em;
        }

        div.Covers {
            width: 100%;
            height: 60px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        div.FormMenu {
            width: 100%;
            height: 60px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        label {
            display: inline-block;
            width: 11em;
            color: blue;
            text-align: right;
        }

      

        .fwm_button {
            color: white;
            font-weight: bold;
            background-color: #6699cc;
            border: 2px outset;
            border-top-color: #aaccff;
            border-left-color: #aaccff;
            border-right-color: #003366;
            border-bottom-color: #003366;
            width: 100px;
        }

        .Select_button {
            color: lightseagreen;
            font-weight: bold;
            width: 3%;
            height: 30px;
        }

        .inputCode {
            height: 30px;
            width: 30px;
            text-align: right;
        }

         .containera button {
         
            background-color: #f2f2f2;
            color: #428bca;
            font-size: 15px;
            text-rendering: optimizeLegibility;
            font-weight: bold;
            font-family: Georgia, serif;
        }